body{
  background-color: #0A0E19;
}
.app{
  align-items: center;
}
.logo {
 position: absolute;
 left: 52%;
 transform: translateX(-50%);
 top:-155px;
  height: 50%;
  width: 50%;

}
  
   
.navLogoContainer{
  margin-top: -10px;
  height: 40px
}

.header{
  background-color: #201E2C;
  height: 50px;
  margin-top: 40px;
  border-top: 1px solid #D4AF37;
  border-bottom: 1px solid #D4AF37;
}

.navBar{
  display: flex;
  font-size: 25px;
  padding-top: 15px;
  color: #D4AF37;
  justify-content: space-evenly;
  list-style: none;
  font-family: 'Special Elite', cursive;
}

.sep_Home{
  font-weight: 900;
  font-size: 30px;
}

.restaurantImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.aboutHead{
  font-family: 'Teko', sans-serif;
  font-size: 35px;
  border-bottom: 2px solid #D4AF37;
  display: inline-block;
  line-height: 0.85;
}
.about{
  color: white;
  text-align: center;
  list-style: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 30px;
  padding-bottom: 35px;
  
  
}
.mallImg{
  border-top: 0.75px solid #D4AF37;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contactContainer{
  background-color: #201E2C ;
  border-top: 1px solid #D4AF37;
  padding-bottom: 30px;
  height: 170px;
}
.contact{
  color: white;
  font-family: 'Teko', sans-serif;
  font-size: 35px;
  list-style: none;
  padding-top: 20px;

}

.contactP{
  color: #BDAD75;
  list-style: none;
  font-family: 'Teko', sans-serif;
}
.contactNumber{
  color: #BDAD75;
  font-family: 'Teko', sans-serif;
  list-style: none;
}
.contactBar{
  color: #BDAD75;
  font-family: 'Teko', sans-serif;
  border: 1px solid #BDAD75;
  background-color: #201E2C;
  width: 60%;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  column-gap: 10px;
  font-size: 13px;
}

.contactBar1{
  color: #BDAD75;
  font-family: 'Teko', sans-serif;
  border: 1px solid #BDAD75;
  background-color: #201E2C;
  width: 60%;
  outline: none;
  margin-top: 2px;
  font-size: 13px;
}

.contactBar2{
  color: #BDAD75;
  font-family: 'Teko', sans-serif;
  border: 1px solid #BDAD75;
  background-color: #201E2C;
  width: 60%;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2px;  
  font-size: 13px;
}
.contactButton {
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:linear-gradient(to bottom, #BDAD75 5%, #BDAD75 100%);
	background-color:#BDAD75;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Teko', sans-serif;
	font-size:14px;
	padding:2px 24.5px;
	text-decoration:none;
  text-shadow:0px 1px 0px #BDAD75;
  width: 49.8%;
  text-align: center;
  margin-top: 2px;
}
.contactButton:hover {
	background:linear-gradient(to bottom, #634b30 5%, #BDAD75 100%);
	background-color: #BDAD75;
}
.contactButton:active {
	position:relative;
	top:1px;
}

 .firstContact{
   float: left;
   padding-left: 230px;
   padding-top: 5px;
 }       
 .contactBoxes{
  padding-left: 1000px;
  padding-top: 50px;
 }

 .mapImg{
  border-bottom: 1px solid #D4AF37;
  width: 100%;
  object-fit: cover;
 }
 
 .footerParent{
  margin-top: -16px;
 }
 .childFooter{
   color: white;
   font-size: 10px;
   font-family: 'Teko', sans-serif;
   font-weight: lighter;
   padding-left: 230px;
   background-color: #201E2C;
   padding-top: 20px;
   padding-bottom: 30px;
 }

 .footerBar{
  olor: #BDAD75;
  font-family: 'Teko', sans-serif;
  border: 1px solid #BDAD75;
  background-color: #201E2C;
  width: 25%;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2px;  
  font-size: 13px;
 }

 .footerButton {
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:linear-gradient(to bottom, #BDAD75 5%, #BDAD75 100%);
	background-color:#BDAD75;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Teko', sans-serif;
	font-size:14px;
	padding:2px 24.5px;
	text-decoration:none;
  text-shadow:0px 1px 0px #BDAD75;
  width: 6%;
  text-align: center;
  margin-top: 2px;
  
}
.footerButton:hover {
	background:linear-gradient(to bottom, #634b30 5%, #BDAD75 100%);
	background-color: #BDAD75;
}
.footerButton:active {
	position:relative;
  top:1px;
 
} 

.sepBar{
  display: flex;
  margin-top: -38px;
  padding-left: 230px;
} 

 .socialLogo{
  height: 20px;
  padding-left: 1200px;
  padding-top: -3000px;
 }